.MessageItem {
  display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 30px 40px;

  &:hover {
    .messagePermalink {
      display: block;
    }
  }

  .authorPicture {
    padding-right: 10px;
  }

  .messageInfo {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  .authorName {
    color: #DEDEDF;
    font-weight: bold;
  }

  .messageDateTimeChannel {
    color: #A2A0A9;
    font-size: 0.7em;
    padding: 0 8px;
  }

  .messagePermalink {
    display: none;
    font-size: 0.85em;
  }
}