.MessageContent {
  font-size: 15px;
  margin: 0.5em 0 0 0;
  line-height: 1.46668;
  white-space: pre-wrap;
  display: inline-block;

  code {
    color: #e01e5a;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 3px;
    padding: 2px 3px 1px;
  }

  pre {
    margin: .5rem 0 .2rem;
    padding: 8px;
    line-height: 1.15rem;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    background: #f8f8f8;
    font-variant-ligatures: none;
    word-break: normal;
    tab-size: 4;
  }

  p {
    margin: 0px;
  }

  blockquote {
    position: relative;
    margin: .25rem 0;
    padding-left: 16px;

    &:before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      display: block;
      width: 4px;
      border-radius: 8px;
      background: #e3e4e6;
      content: '';
    }
  }

  span.vspace {
    display: block;
    height: 8px;
  }
}

