.MessageList {
  overflow-y: scroll;
}

.MessageItem {
  font-size: 15px;

  display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 30px 40px;

  &:hover {
    .messagePermalink {
      display: block;
    }
  }

  .avatar {
    padding-right: 10px;
    img {
      width: 36px;
      height: 36px;
    }
  }

  .messageInfo {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  .authorName {
    font-weight: 900;
  }

  .messageDateTimeChannel {
    color: #A2A0A9;
    font-size: 0.7em;
    padding: 0 8px;
  }

  .messagePermalink {
    display: none;
    font-size: 0.85em;
  }
}
