.Quote {
  position: relative;
  margin: .25rem 0;
  padding-left: 16px;

  &:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 4px;
    border-radius: 8px;
    background: #e3e4e6;
    content: '';
  }
}