.Replies {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0;

  .replyAuthorPicture {
    width: 24px;
    height: 24px;
    margin-right: 1em;
  }

  .Link {
    font-size: 0.7em;
    font-weight: bold;
  }
}
