.LeftPanel {
  display: flex;
  flex: 0 0 220px;
  flex-direction: column;
  width: 220px;
  background-color: #253442;
  color: white;
  overflow-y: auto;

  a {
    display: flex;
    
    .logo {
      width: 152px;
      margin: 30px auto;
    }
  }
  

  .sectionTitle {
    padding: 30px 18px 5px 18px;
    color: #7991A6;
  }

  .Loader {
    align-items: center;
    flex: 1;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .showAll {
    padding: 5px 18px;
    color: #7991A6;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 1rem;
    text-align: left;
  }
}
