.LeftPanelContainer {
  display: flex;
  background-color: #253442;
}
.LeftPanelContainer.padded {
    padding-bottom: 50px;
}

.LeftPanel {
  display: flex;
  flex: 0 0 220px;
  flex-direction: column;
  width: 220px;
  background-color: #253442;
  color: white;
  overflow-y: auto;
  overflow-x: hidden;
  
  a {
    
    .logo {
      width: 152px;
      margin: 22px 18px;
    }
  }
  
  .sectionTitle {
    padding: 30px 18px 10px 18px;
    color: #7991A6;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .showAll {
    padding: 5px 18px;
    color: #7991A6;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 1rem;
    text-align: left;
  }

  input[type=text] {
    box-sizing: border-box;
    width: 184px;
    margin: 5px 18px;
  }

  .ShowArchivedBox {
    position: absolute;
    bottom: 18px;
    margin-left: 14px;
  }
}
