.TopPanel {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 85px;
  padding: 0 40px;
  box-shadow: 0 4px 2px -2px #EAEAEA;

  .icon {
    border: 1px solid #E5E5E5;
    padding: 4px;
    font-size: 0.7em;
  }
  
  .title {
    margin-left: 0.5em;
    color: black;
  }
}
