.emoji {
  width: 1em;
  height: 1em;
  overflow: hidden;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  text-align: left;
  color: transparent;

  line-height: 18px;
  font-size: 22px;
  vertical-align: middle;
  margin-top: -4px;
}
