.tooltip { // overriding ReactTooltip - !important needed
  font-family: "Lato", sans-serif !important;
  font-size: 16px !important;
  border: 1px solid #7991a6 !important;
  border-radius: 4px !important;
  background-color: #ffffff !important;
  opacity: 1;
  color: #4b5967 !important;
}